/* styles.css */
body {
    /*font-family: Brush Script MT, Brush Script Std, cursive;*/
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color:#000F08;
    text-align: center;
    overflow-x: hidden;
    background-color:#8BAAAD;
    text-align: center;
}

.contactsLink{
    padding: 1vh 4vw 1vh 4vw;
    border-radius: 10px;
    text-decoration: none;
    color: #000F08;
}

@keyframes highlightBox {
    0% {
        background-color: transparent;
        color: #000F08;
    }
    100% {
        background-color: #1C3738;
        color: #F4FFF8;
    }
}

.contactsLink:hover{
    animation: highlightBox 0.3s ease-in-out forwards;
}

.LogoImage {
    max-height: 15vh;
}

.headerContent{
    width: 100%;
    background-color: #000F08;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    25%,75% {
        opacity: 1;
    }
}

.constructionText {
    font-size: 1.2em;
    color: #000F08;
    padding-bottom: 4vh;
    animation: fadeInOut 5s infinite;
}

.contactsContainer{
    width: 100%;
    align-items: center;
    display:flex;
    flex-direction: row;
    justify-content:space-around;
}

.contactsItem{
    opacity: 0;
    text-align: center;
    
}

.contactsItem:nth-child(1).fly-in {
    animation-delay: 0.1s;
}

.contactsItem:nth-child(2).fly-in {
    animation-delay: 0.3s;
}

.contactsItem:nth-child(3).fly-in {
    animation-delay: 0.5s;
}

.iconImg{
    max-width: 10vw;
}

@media (max-width:1080px) {
    .contactsContainer{
        width: 100%;
        align-items: center;
        display:flex;
        flex-direction: column;
    }
    .contactsItem{
        padding-bottom: 2vh;
        padding-top: 0vh;
        animation-delay: 0.1s;
    }
}

@keyframes flyIn {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fly-in {
    animation: flyIn 0.5s ease-in-out forwards;
}